server:
  port: ${PORT:8081}

spring:
  application:
    name: users-service

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/usersdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:tioroger777}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: ${SHOW_SQL:true}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:mattgameselpapu@gmail.com}
    password: ${MAIL_PASSWORD:tixcdttbikikduoq} # App password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org.springframework: ${SPRING_LOG_LEVEL:INFO}
    com.tuempresa: ${APP_LOG_LEVEL:DEBUG}

gateway:
  url: ${GATEWAY_URL:http://localhost:8080}