server:
  port: 8081

spring:
  application:
    name: users-service

  datasource:
    url: jdbc:mysql://localhost:3306/usersdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: tioroger777
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: mattgameselpapu@gmail.com
    password: soezdxnrbnbiuyhj # Debe ser app password, no la normal
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org.springframework: INFO
    com.tuempresa: DEBUG

jwt:
  secret: "M1C1aveDeJWT_ParaFirmarTokens_1234567890"